html {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#82AB1A, #A4A38F);
}

.window {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 25%;
    background-color: rgb(236, 233, 216);
    box-shadow: inset -1px -1px rgb(236, 233, 216), inset 1px 1px rgb(172, 169, 155), inset -4px -4px rgb(136, 129, 91), inset 2px 2px rgb(236, 233, 216),
        inset -3px -3px rgb(236, 233, 216), inset 3px 3px rgb(236, 233, 216);
    padding: 0 0 12px ;
    -webkit-font-smoothing: antialiased;
}
.window-text {
    text-align: center;
    p {
        font-family: Arial;
        font-weight: bold;
        margin-left: 150px;
        margin-right: 150px;
    }
}
.window-buttons {
    display: flex;
    margin: 25px;
}
.buttons {
    top: 3px;
    background: var(--surface);
    font-weight: bold;
    font-size: 20px;
    box-shadow: inset 1px 1px #b3ac8d, inset 2px 2px #ebe3be, inset -1px 0 #e5eb9c, inset -1px 0 #d4ca8f;    
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 2px solid #c7c1a2;
    &:first-of-type::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        top: 100%;
        left: 0;
        height: 2px;
        width: 0;
        border-left: 1px solid #fff;
        border-right: 1px solid #dfdfdf;
    }
    &[aria-selected="true"] {
        top: 2px;
        margin-right: -1px;
        margin-top: -4px;
        &:first-of-type {
            left: 0;
        }
    }
    padding: 3px 12px;
}